@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-VariableFont_wght.ttf") format("truetype");
}

.certifications {
  @apply px-8 py-10 max-w-3xl mx-auto;
}

.certification-list {
  @apply list-disc pl-5 text-left mt-6 space-y-2;
}

.certifications-section {
  @apply bg-white  p-10 min-h-screen flex flex-col gap-10 shadow-md;
  text-align: left;
}

.certification-category {
  @apply text-purple-400 text-3xl font-semibold mt-8;
}

.certification-grid {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6;
}

.certification-card {
  @apply bg-white p-4 rounded-xl shadow-md text-center transition-transform hover:scale-105;
}

.certification-card img {
  @apply w-20 h-20 mx-auto mb-2;
}

.certification-button {
  @apply text-purple-400 font-semibold hover:text-purple-600 cursor-pointer;
}

.certifications-section {
  @apply bg-white p-10 min-h-screen flex flex-col gap-10 shadow-md;
}

.certifications-title {
  font-family: "Lexend", sans-serif;
  font-size: 4rem;

  @apply text-gray-800 pt-4 mb-2 font-bold;
}

.certifications-subtitle {
  font-family: "Lexend", sans-serif;
  @apply text-gray-600 text-lg;
}
.certification-category {
  font-family: "Lexend", sans-serif;
  @apply text-purple-400 text-4xl font-semibold p-4 pt-0 mt-0;
  text-align: left;
}

.certification-grid {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6;
}

.certification-card {
  background-color: #dabafc;
  box-shadow: 0 4px 8px 0 #a7a6a681;
  @apply p-4 rounded-xl text-center transition-transform hover:scale-105;
}

.certification-card img {
  @apply w-auto h-20 mx-auto mb-2;
}

.certification-button {
  @apply text-[#fff] font-bold hover:text-[#9c7ca3] cursor-pointer;
}

@media (max-width: 768px) {
  .certifications-title {
    font-size: 2.5rem;
  }
  .certification-category {
    font-size: 2rem;
  }
}
